<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/resources/css/main.css}"
	href="/onlinestore/src/main/webapp/resources/css/main.css">
<link rel="stylesheet" th:href="@{/resources/css/header.css}"
	href="/onlinestore/src/main/webapp/resources/css/header.css">
<link rel="stylesheet"
	th:href="@{/resources/css/autorization_popup.css}"
	href="/onlinestore/src/main/webapp/resources/css/autorization_popup.css">
</head>

<body>
			<div class="profile-pop-up-menu">
				<div th:if="${user}" class="profile"
					th:attr="onclick=|profileIconClick('${user.email}')|"
					onclick="profileIconClick();">
					<img th:src="@{/resources/img/account_circle.png}"
						th:unless="${user.imageURL}"
						src="/onlinestore/src/main/webapp/resources/img/account_circle.png">
					<img th:src=${user.imageURL} th:if="${user.imageURL}">
				</div>
				<div th:unless="${user}" class="profile"
					th:attr="onclick=|profileIconClick('null')|"
					onclick="profileIconClick();">
					<img th:src="@{/resources/img/account_circle.png}"
						src="/onlinestore/src/main/webapp/resources/img/account_circle.png">
				</div>
				<div class="menu">
					<h3>Профиль</h3>
					<ul>
						<li class="nav-item"><img th:src="@{/resources/img/9.png}"><a
							href="#">Мои заказы</a></li>
						<li class="nav-item"><img th:src="@{/resources/img/9.png}"><a
							href="#">Избранное</a></li>
						<li class="nav-item"><img th:src="@{/resources/img/9.png}"><a
							href="#">Адреса</a></li>
						<li class="nav-item"><img th:src="@{/resources/img/9.png}"><a
							href="#">MyProfile</a></li>
						<li class="nav-item"><img th:src="@{/resources/img/9.png}"><a
							href="#">MyProfile</a></li>
						<li class="nav-item"><img th:src="@{/resources/img/9.png}"><a
							href="#">MyProfile</a></li>
					</ul>
				</div>
			</div>
		</div>
		<script th:src="@{/resources/js/header.js}"
			src="/onlinestore/src/main/webapp/resources/js/header.js">
		</script>
</body>
</html>
